@font-face {
  font-family: 'MyCustomFont'; /* A name to be used later in your CSS */
  src: url('fonts/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Optional, but recommended for performance */
}
body {
    font-family: 'MyCustomFont', sans-serif;
    display : flex;
    min-height : 100vh;
    flex-direction : column;

}

*{
    box-sizing: border-box;
    margin : 0%;
    padding : 0;
}

.container {
    background: linear-gradient(to bottom, #4d4d4d, #12181c);
    width : 100%;
    flex : 1;
    display : flex;
    justify-content : center;
    align-items : center;
}

.weather-condition{
    color : white;

}

.temp{
    font-size : 60px;
    font-weight : bold;
}

.location {
    font-size : 25px;
}

.time{
    font-size : 11px;
}

.weather{
    font-size : 15px;
    opacity: 0.8;
}

.search-place{
    padding: 5px 0;
    background-color : rgb(228, 78, 72);
    display : flex;
    align-items : center;
    justify-content : center;
}

.search-form {
    flex : 1;
    height : 50px;
    align-items : center;
    display : flex;
    justify-content : center;
    gap : 20px;
}

.search-bar,
.search-button{
    font-size : 13px;
    outline : none;
    display : inline-block;
    height : 35px;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    border : 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color : #444444;
    transition : 0.2s;
    border-radius : 2px;
}

.search-bar:hover,
.search-button:hover{
  background: #ddd;
}

.search-bar{
    width : 60%;
}

.search-bar:focus{
    background: #ddd;
    outline : none;
    border : 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.search-button{
    cursor : pointer;
}

@media(max-width : 600px) {
    .temp{
        font-size : 40px;
    }
    .location {
    font-size : 15px;
    }

    .time{
        font-size : 7px;
    }

    .weather{
        font-size : 10px;
    }

    .search-form {
        flex-direction: column;
        gap: 10px;
    }

    .search-bar {
        width: 90%;
    }
    .search-button {
        width : 60px;
    }
}




